:root {
    --blue: #43727a;
    --light-blue: #97d5ce;
    --white: #ffffff;
}

body {
    background-color: var(--white);
    color: var(--blue);
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    min-height: 100vh;
}

#bg {
    height: 100%;
    width: 100%;
}

#topFlower {
    position: fixed;
    top: 0;
    left: 0;
    height: 30vh;
    z-index: -1;
    opacity: 0.5;
}

#bottomFlower {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 30vh;
    z-index: -1;
    opacity: 0.5;
}