:root {
    --blue: #43727a;
    --white: #d6d2d2;
}

body {
    background-image: url('../assets/topFlower.png'), url('../assets/bottomFlower.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-attachment: fixed;
    background-size: 75%, 75%;
    background-color: var(--white);
}

.annapurna-sil {
    font-family: "Annapurna SIL", serif;
    font-weight: 400;
    font-style: normal;
}

.annapurna-sil-bold {
    font-family: "Annapurna SIL", serif;
    font-weight: 700;
    font-style: normal;
}

.arvo {
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: normal;
}